<!--
  Launchers for map manager on Roch.
-->
<launch>
  <arg name="debug" default="false"/>
  <node pkg="world_canvas_server" type="world_canvas_server" name="world_canvas_server" args="$(arg debug)" output="screen">
    <param name="strat_map_manager" value="true"/>
    <param name="auto_save_map" value="false"/>
  </node>
</launch>
