<!-- 
  Launchers for Roch
-->
<launch>
  <!--  
    Right now, the android app is hard coded to look for /cmd_vel as the input
    topic.
   --> 
  <arg name="3d_sensor"   				  default="$(env ROCH_3D_SENSOR)"/>  <!-- kinect, asus_xtion_pro, r200 -->
  <arg name="2d_laser" 					  default="$(env ROCH_LASER)"/>  <!-- ls01c, rplidar -->
  <arg name="2d_laser_enabled"		      default="$(env ROCH_LASER_ENABLE)"/> <!-- if add 2d laser or not -->
  <arg name="3d_sensor_enabled"		      default="$(env ROCH_3D_SENSOR_ENABLE)"/> <!-- if add 3d sensor or not  -->
  <arg name="3d_sensor_nav_enabled"		  default="$(env ROCH_3D_SENSOR_NAV_ENABLE)"/> <!-- if add 3d sensor for navigation -->
  <arg name="simulation"                  default="$(env ROCH_SIMULATION)"/> <!-- necessary param -->
  <arg name="emulation"                   default="true"/> <!-- Enable/Disenable for simulation -->
  <arg name="application_namespace"		  default=""/>
  <group unless="$(arg emulation)">
    <node pkg="nodelet" type="nodelet" name="teleop_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet /mobile_base_nodelet_manager">
      <rosparam file="$(find roch_bringup)/param/defaults/smoother.yaml" command="load"/>
      <remap from="teleop_velocity_smoother/raw_cmd_vel" to="/teleop/cmd_vel"/>
      <remap from="teleop_velocity_smoother/smooth_cmd_vel" to="/roch_velocity_controller/cmd_vel"/>

      <!-- Robot velocity feedbacks; use the one configured as base default -->
      <remap from="teleop_velocity_smoother/odometry" to="/odom"/>
      <remap from="teleop_velocity_smoother/robot_cmd_vel" to="/roch_velocity_controller/cmd_vel"/>
    </node>

    <param name="camera/rgb/image_rect_color/compressed/jpeg_quality" value="22"/>

    <include file="$(find roch_bringup)/launch/sensor.launch">
      <arg name="rgb_processing" value="true" />
      <arg name="depth_registration" value="false" />
      <arg name="depth_processing" value="false" />
	  <arg name="3d_sensor_nav_enabled" value="$(arg 3d_sensor_nav_enabled)"/>
    </include>

    <!-- Make a slower camera feed available. -->
    <node pkg="topic_tools" type="throttle" name="camera_throttle" output="screen"
          args="messages camera/rgb/image_rect_color/compressed 5"/>

    <!-- Relay for image -->
    <node pkg="topic_tools" type="throttle" name="relay_compressed_throttle_image" args="messages camera/rgb/image_rect_color/compressed_throttle 5 /teleop/compressed_image" required="true">
      <param name="lazy" value="false"/>
    </node>
  </group>

  <!-- for gazebo simulation -->
  <group if="$(arg emulation)">
    <node pkg="nodelet" type="nodelet" name="teleop_velocity_smoother_manager" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="teleop_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet teleop_velocity_smoother_manager">
      <rosparam file="$(find turtlebot_bringup)/param/defaults/smoother.yaml" command="load"/>
      <remap from="teleop_velocity_smoother/smooth_cmd_vel" to="/roch_velocity_controller/cmd_vel"/>

      <!-- Robot velocity feedbacks; use the one configured as base default -->
      <remap from="teleop_velocity_smoother/odometry" to="odom"/>
      <remap from="teleop_velocity_smoother/robot_cmd_vel" to="/roch_velocity_controller/cmd_vel"/>
    </node>

    <!-- *********************** Teleoperation ********************** -->
    <param name="camera/rgb/image_raw/compressed/jpeg_quality" value="22"/>
    <!-- Make a slower camera feed available. -->
    <node pkg="topic_tools" type="throttle" name="camera_throttle" args="messages camera/rgb/image_raw/compressed 5"/>


    <!-- Relay for image -->
    <node pkg="topic_tools" type="throttle" name="relay_compressed_throttle_image" args="messages camera/rgb/image_raw/compressed 5 /teleop/compressed_image" required="true">
      <param name="lazy" value="false"/>
    </node>

    <!-- relay in topic_tools package does not work with multimaster.. -->
    <node pkg="rocon_python_utils" name="cmd_vel_relay" type="topic_relay" args="/teleop/cmd_vel teleop_velocity_smoother/raw_cmd_vel geometry_msgs/Twist">
    </node>

    <node pkg="rocon_python_utils" name="image_relay" type="topic_relay" args="camera/rgb/image_raw/compressed /teleop/compressed_image sensor_msgs/CompressedImage">
    </node>
  </group>
</launch>
