<!--
  Launchers for roch follower.
-->
<launch>
  <arg name="simulation"                  default="$(env ROCH_SIMULATION)"/> <!-- necessary param -->
  <arg name="emulation"                   default="false"/> <!-- Enable/Disenable for simulation -->
  <include file="$(find roch_follower)/launch/follower.launch">
    <arg name="simulation" value="$(arg emulation)"/>
  </include>
</launch>
