<?xml version="1.0" ?>
<!--
  Various useful properties such as constants and materials 
 -->
<robot name="roch_materials" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931" /> 
  <xacro:property name="roch_white">
    <material name="white">
      <color rgba="1 1 1 1"/>
    </material>
  </xacro:property>
  <xacro:property name="roch_dark_white">
    <material name="dark_white">
      <color rgba="0.8 0.8 0.8 1"/>
    </material>
  </xacro:property>
  <xacro:property name="roch_grey">
    <material name="grey">
      <color rgba="0.5 0.5 0.5 1"/>
    </material>
  </xacro:property>
  <xacro:property name="roch_light_grey">
    <material name="light_grey">
      <color rgba="0.6 0.6 0.6 1"/>
    </material>
  </xacro:property>
  <xacro:property name="roch_dark_grey">
    <material name="dark_grey">
      <color rgba="0.3 0.3 0.3 1"/>
    </material>
  </xacro:property>
  <xacro:property name="roch_black">
    <material name="black">
      <color rgba="0.1 0.1 0.1 1"/>
    </material>
  </xacro:property>
  <xacro:property name="roch_red">
    <material name="red">
      <color rgba="1 0 0 1"/>
    </material>
  </xacro:property>
  <xacro:property name="roch_green">
    <material name="green">
      <color rgba="0.0 0.8 0.0 1"/>
    </material>
  </xacro:property>
  <xacro:property name="roch_blue">
    <material name="blue">
      <color rgba="0.0 0.0 1.0 1"/>
    </material>
  </xacro:property>
  <xacro:property name="roch_grey_blue">
    <material name="grey_blue">
      <color rgba="0.4 0.4 1.0 1"/>
    </material>
  </xacro:property>
  <xacro:property name="roch_orange">
    <material name="orange">
      <color rgba="1.0 0.7 0.0 1"/>
    </material>
  </xacro:property>
  <xacro:property name="roch_yellow"> 
    <material name="Yellow">
      <color rgba="0.8 0.8 0.0 1.0"/>
    </material>
  </xacro:property>
  
</robot>
