<?xml version="1.0"?>
<!--
Software License Agreement (BSD)
\file      gmapping_without_sensor.launch
\authors   Carl <carlzhang@soyrobotics.com>
\copyright Copyright (c) 2017, Soy Robotics, Inc., All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the 
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Soy Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
  <arg name="3d_sensor"   default="$(env ROCH_3D_SENSOR)"/>  <!-- kinect, asus_xtion_pro, r200, astra -->
  <arg name="2d_laser"   default="$(env ROCH_LASER)"/>  <!-- ls01c, rplidar -->
  <arg name="2d_laser_enabled"		      default="$(env ROCH_LASER_ENABLE)"/> <!-- if add 2d laser or not -->
  <arg name="3d_sensor_enabled"		      default="$(env ROCH_3D_SENSOR_ENABLE)"/> <!-- if add 3d sensor or not  -->
  <arg name="3d_sensor_nav_enabled"		  default="$(env ROCH_3D_SENSOR_NAV_ENABLE)"/> <!-- if add 3d sensor for navigation -->

  <!--- Run gmapping -->
  <group if="$(arg 3d_sensor_enabled)">
    <group if="$(arg 3d_sensor_nav_enabled)">
      <include file="$(find roch_navigation)/launch/includes/$(arg 3d_sensor)_gmapping.launch" />
	</group>
  </group>
  <group if="$(arg 2d_laser_enabled)">
    <group unless="$(arg 3d_sensor_nav_enabled)">
      <include file="$(find roch_navigation)/launch/includes/$(arg 2d_laser)_gmapping.launch" />
	</group>
  </group>

  <!--- Run Move Base -->
  <include file="$(find roch_navigation)/launch/move_base.launch" >
    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
    <arg name="3d_sensor_enabled" value="$(arg 3d_sensor_enabled)"/>
	<arg name="3d_sensor_nav_enabled" value="$(arg 3d_sensor_nav_enabled)"/>
    <arg name="2d_laser" value="$(arg 2d_laser)"/>
    <arg name="2d_laser_enabled" value="$(arg 2d_laser_enabled)"/>
  </include>

</launch>
