<?xml version="1.0"?>
<!--
    - Base      : roch
    - Stacks    : standard
    - 3d Sensor : r200
    - 2d laser  : ls01c
-->    
<robot name="roch" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find roch_description)/urdf/roch_library.urdf.xacro" />
  
  <roch/>
  <stack_standard                 parent="base_link"/>
  <sensor_r200                    parent="base_link"/>
  <ls_ls01c                       parent="base_link"/>
</robot>
